html {
  //font-size: 62.5%;

}

body {
  width: 100%;
  //font-size: 1.6rem;

}

.navigation {
  box-shadow: 0px 4px 12px -4px #4040403d;
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  z-index: 1000;
}

.header-space {
  height: 80px;
}

.sidebar {
  position: fixed;
  top: calc(64px - 0px);
  left: 0;
  width: 100%;
}

.btn {
  outline: none;
  text-wrap: nowrap;
  border-radius: 0 !important;
  //font-size: 1.6rem !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


.btn-black {
  background: #1f2937 !important;
  color: white !important;
  border-color: #1f2937 !important;
}

.btn-primary2 {
  background: #24b790 !important;
  color: white !important;
  border-color: #24b790 !important;
  height: auto !important;
}

.btn-danger2 {
  background: #fc511d !important;
  color: white !important;
  border-color: #fc511d !important;
  height: auto !important;
}

.hover-bg-primary-1:hover {
  background: rgba(36, 183, 144, 0.2) !important;
}

.el-compact-form-control-container {
  background: #f8f8fa;
  position: relative;

  transition: all .3s ease;

  outline: 0 !important;
  height: 60px !important;


  .el-text-input {
    background: transparent;
    width: 100%;
    height: 100%;
    outline: none;
    padding: 32px 16px 12px;
  }

  .el-form-label {
    transition: all .15s ease-out;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    padding-left: 16px;
    font-weight: 600;
    font-size: 14px;
  }

  &-expand,
  &-active {
    //background: red;
    .el-form-label {
      transform: translateY(5px);
      top: 0;
      font-weight: 400;
    }
  }

  &-textarea {
    //background: red;
    min-height: 100px;
    height: 100% !important;

    .el-form-label {
      width: 100%;
      background: inherit;
      height: 30px;
      padding-top: 10px;
      top: 0;
      transform: translateY(0%);
    }

    &-expand,
    &-active {
      //background: red;
      .el-form-label {
        top: 20px !important;
      }
    }

  }
}


.container {
  max-width: 1400px;
  margin: auto;
}


.rsl-table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;


  thead {
    tr {
      @apply p-4 ;
      th {
        padding: 14px 10px;
        text-transform: capitalize;
        font-weight: 600;
        text-align: start;
      }
    }

  }

  tbody {
    tr {
      td {
        padding: 10px 10px;
        word-break: break-all;
      }
    }

    height: calc(100vh - 350px);
    overflow: auto;
  }

  thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }


  tbody {
    display: block;
    overflow: auto;
  }


  tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-bottom: 2px solid rgba(51, 61, 79, 0.15);


  }

  thead {
    width: calc(100% - 5px)
  }


}

.rsl-table tr th:nth-child(1) {
  @apply rounded-l-xl
}

.rsl-table tr th:last-child {
  @apply rounded-r-xl;
}


.dashboard-content{
  max-height: calc(100vh - 246px);
  overflow-y: auto;
}