html {
  //font-size: 62.5%;

}

body {
  width: 100%;
  //font-size: 1.6rem;

}

.navigation {
  box-shadow: 0px 4px 12px -4px #4040403d;
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  z-index: 1000;
}

.header-space {
  height: 80px;
}

.sidebar {
  position: fixed;
  top: calc(64px - 0px);
  left: 0;
  width: 100%;
}

.btn {
  outline: none;
  text-wrap: nowrap;
  border-radius: 0 !important;
  //font-size: 1.6rem !important;
}

.btn-floating {
  width: 40px !important;
  height: 40px !important;
  bottom: 100px;
  right: 5%;
  aspect-ratio: 1 / 1 !important;
  background-color: #2bb883 !important;
  border: none !important;
  position: fixed;
  z-index: 100;
  border-radius: 35px !important;
  box-shadow: 0 4px 16px 5px #00000085 !important
}

@tailwind base;
@tailwind components;
@tailwind utilities;


.btn-black {
  background: #1f2937 !important;
  color: white !important;
  border-color: #1f2937 !important;
}

.btn-primary2 {
  background: #24b790 !important;
  color: white !important;
  border-color: #24b790 !important;
  height: auto !important;
}

.btn-danger2 {
  background: #fc511d !important;
  color: white !important;
  border-color: #fc511d !important;
  height: auto !important;
}

.hover-bg-primary-1:hover {
  background: rgba(36, 183, 144, 0.2) !important;
}

.el-compact-form-control-container {
  background: #f8f8fa;
  position: relative;

  transition: all .3s ease;

  outline: 0 !important;
  height: 60px !important;


  .el-text-input {
    background: transparent;
    width: 100%;
    height: 100%;
    outline: none;
    padding: 32px 16px 12px;
  }

  .el-form-label {
    transition: all .15s ease-out;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    padding-left: 16px;
    font-weight: 600;
    font-size: 14px;
  }

  &-expand,
  &-active {
    //background: red;
    .el-form-label {
      transform: translateY(5px);
      top: 0;
      font-weight: 400;
    }
  }

  &-textarea {
    //background: red;
    //min-height: 100px;
    height: auto !important;


    .el-text-input {
      //background: red;
      height: 100%;
    }

    .el-form-label {
      width: 100%;
      background: inherit;
      height: 30px;
      padding-top: 10px;
      top: 0;
      transform: translateY(0%);
    }

    &-expand,
    &-active {
      //background: red;
      .el-form-label {
        top: 20px !important;
      }
    }

  }

  &.multiselect {
    height: auto !important;

    .selected-list {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding-left: 16px;
      padding-right: 16px;
      padding-top: 30px;

      div {
        background: #c0d7bc;
        margin: 2px;
        border-radius: 3px;
        font-size: 14px;
        padding: 0 7px;
      }
    }
  }

  .rs_select {
    background: transparent;

    height: 100%;
    outline: none;
    padding: 8px 16px 12px;
    width: 100% !important;
  }
}


.container {
  max-width: 1400px;
  margin: auto;
}


.rsl-table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;


  thead {
    tr {
      @apply p-4 ;
      th {
        padding: 14px 10px;
        text-transform: capitalize;
        font-weight: 600;
        text-align: start;
      }
    }

  }

  tbody {
    tr {
      td {
        padding: 10px 10px;
        word-break: break-all;
      }
    }

    height: calc(100vh - 350px);
    overflow: auto;
  }

  thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }


  tbody {
    display: block;
    overflow: auto;
  }


  tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-bottom: 2px solid rgba(51, 61, 79, 0.15);


  }

  thead {
    width: calc(100% - 5px)
  }


}

.rsl-table tr th:nth-child(1) {
  @apply rounded-l-xl
}

.rsl-table tr th:last-child {
  @apply rounded-r-xl;
}


.dashboard-content {
  max-height: calc(100vh - 246px);
  overflow-y: auto;
}


/* popup */


.popup-root {
  padding: 14px;
  border-radius: 5px;
  position: absolute;
  z-index: 1001;
  outline: none;
  transition: all .3s ease;
  left: 50%;
  transform-origin: top;
  box-shadow: 2px 6px 29px 5px #313843bf;

  // @include getDown(768px) {
  //   width: 100%;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   margin: auto;
  // }
}

.popup-root.open {
  opacity: 1;
  transform: translateY(0) translateX(-50%);
  visibility: visible;
}

/* Styles for .close state */
.popup-root.close {
  transform: translateY(40px) translateX(-50%);
  opacity: 0;
  visibility: hidden;
}

.popup-center {
  transform: translate(-50%, -50%) !important;
  left: 50%;
  top: 50%;
}

.backdrop {
  width: 100%;
  height: 100vh;
  background-color: rgba(33, 33, 33, 0.71);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
}

.category-dropdown {
  @apply absolute   left-0 z-50 bg-white     w-full mx-auto;
  width: max-content;

  top: 50px;
  background: #ffffff;
  box-shadow: 6px 4px 20px 0px #444444a3;
  border-radius: 9px;
  padding: 10px 2px;

  .dropdown-section {
    padding: 5px 5px;

    & > div {
      column-gap: 50px;
      padding: 3px 8px;
      cursor: pointer;

      &:hover {
        background: rgba(62, 142, 59, 0.27);
      }

      svg {
        font-size: 8px;
      }
    }

    h4 {
      white-space: nowrap;
      font-size: 14px;
      font-weight: 500;
    }
  }
}


.rs-tabs {
  display: flex;
  column-gap: 20px;
  border-bottom: 2px solid rgba(173, 173, 173, 0.45);

  .rs-tab {
    list-style: none;
    font-weight: 500;
    position: relative;
    padding-bottom: 5px;
    cursor: pointer;

    &.rs-tab-active::after {
      content: "";
      position: absolute;
      background: red;
      width: 100%;
      left: 0;
      bottom: -2px;
      height: 2px;
    }
  }
}